.quote-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-card p {
  font-size: 1.2em;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.quote-card-button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  gap: 20px;
}

.quote-card button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
