.app {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  
}

.new-quote-btn {
  margin: 20px;
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-quote-btn:hover {
  transform: translateY(-2px);
  background-color: #57b15a;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

